@model TravelCompany.Web.Models.ExpensesViewModel
@{
    ViewData["Title"] = "AddExpense";
}

<h2>AddExpense</h2>

<h4>AddExpense</h4>
<form asp-action="AddExpense">
    <div class="form-group">
        <label asp-for="Travelid" class="control-label"></label>
        <input asp-for="Travelid" class="form-control" />
        <span asp-validation-for="Travelid" class="text-danger"></span>

        <partial name="_Expenses" />

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
            <a asp-action="Details" asp-route-id="@Model.Expense" class="btn btn-info">Back to List</a>
        </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

