@model TravelCompany.Web.Models.ExpensesViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Expense</h4>
<hr />

<form asp-action="EditExpense" enctype="multipart/form-data">

    <input type="hidden" asp-for="id" />
    <input type="hidden" asp-for="Date" />
    <input type="hidden" asp-for="Photo" />


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-info" />
        <a asp-action="Details" asp-route-id="@Model.id" class="btn btn-success">Back to List</a>
    </div>
</form>
<div class="col-md-4">
    @if (!string.IsNullOrEmpty(Model.Photo))
    {
        <img src="@Url.Content(Model.Photo)" alt="Image" style="width:200px;height:100px;max-width: 200%; height: auto;" />
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

